:root {
    --primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* nav bar begins*/
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #195851;
}
header h1 {
    font-weight: bold;
    font-family:var(--primary-font);
    margin: 0;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
header a {
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-family:var(--primary-font)
}
header nav {
    margin: 7px 0; 
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: end;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.00vw;

}

/*nav bar end */

/* hero section or "about me section" */
h3 {
    width: 100%;
    text-align: center;
    border-bottom: 1.5px solid #bebebe;
    line-height: 0.1em;
    margin: 90px 0px 50px;
    font-family: var(--primary-font);
}
h3 span {
    background: white;
    padding: 0 10px;
    font-family: var(--primary-font);
    
}
section p {
    font-size: 1.5em;
    text-align: center;
    font-family: var(--primary-font);
}

.Hero h2 {
     font-style: bolder;
     font-family: var(--primary-font);
     font-size: 25px;
 }

body {
    background-color: #fcffff;
}

/* Projects */
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Project1 img {
    height: auto;
    width: 800px;
    border-style: solid;
    border-color: black;
}
.Project2 img {
    height: auto;
    width: 800px;
    margin-top: 50px;
    border-style: solid;
    border-color: black;
}
.Project3 img {
    height: auto;
    width: 800px;
    margin-top: 50px;
    border-style: solid;
    border-color: black;
}

/* Skills */
.icon-container1 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}
.icons img {
    width: 155px;
}


/*Contact me */
.icon-container {
    display: flex;
    justify-content: space-around;
}
.github img {
    height: 100%;
    width: 120px;
    
}
.linkedin img {
    height: 100%;
    width: 120px;
}
.email {
    margin-top: 50px;
    font-size: 1.5em;
}

/* Mobile responsive */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header { 
        padding-bottom: 0;
        justify-content: center;
     }
    header h1 {
        width: 100%;
        text-align: center;
     }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
     }
    header nav ul li a {
        font-size: 20px;
    }
    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    .Project1 img {
        height: auto;
        width: 900px;
    }
    .Project2 img {
        height: auto;
        width: 900px;
    }
    .Project3 img {
        height: auto;
        width: 900px;
    }
    .email {
        margin-top: -10px;
    }
    .github img {
        margin-top: 20px;
    }
    .linkedin img {
        margin-top: 30px;
    }
}

/* Media query for tablets and smaller */
@media screen and (max-width: 768px) {
    .Project1 img {
        height: auto;
        width: 600px;
    }
    .Project2 img {
        height: auto;
        width: 600px;
    }
    .Project3 img {
        height: auto;
        width: 600px;
    }
    .email {
        margin-top: -10px;
    }
    * {
        margin: 0;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .icon-container1 ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-top: 10px;
    }
    .icons img {
        padding-top: 30px;
    }
    
    .email {
        margin-top: -10px;
    }
    .Project1 img {
        height: auto;
        width: 350px;
    }
    .Project2 img {
        height: auto;
        width: 350px;
    }
    .Project3 img {
        height: auto;
        width: 350px;
    }
    
}